*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: calc(100vh - 25px);
    margin: auto;
    margin-bottom: 1rem;

}
.login_screen{
    max-height: calc(100vh - 6rem);
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;

}


.welcome {
    margin: 1rem auto;
}
.sing-in-btn-wrapper{
   
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}
.sing-in-btn{
    padding: 10px 15px;
    background-color: rgba(12, 155, 36, 0.822);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
}
.sing-in-btn:hover{
    background-color: rgba(12, 155, 36, 0.632);

}

/* User Profile section */
.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.img_wrapper{
    width: 150px;
    margin: auto;
}
.image{
    width: 100%;
}
.name{
    margin-top: 1rem;
    font-weight: 700;
}

/* User Stats section */
.stats-section{
    width: 100%;
    margin: 1rem auto;
    
}
.user-stats{
    display: flex;
    max-width: 350px;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    font-size: .8rem;
    opacity: .7;
}
.headers{
    width: 100%;
    display:block;
    margin-bottom: .5rem;
}
@media screen and (max-width: 995px) {
 .user-stats{
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}


}

/* USER CONTENT */
.user-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 500px;
    margin: auto;
    margin: auto;
    font-size: .8rem;
}
.headers{
    font-weight: 600;

}

.user-playlists, .user-artists, .user-songs{
    padding: 0 2rem;
    max-width: 100%;
}

.names{
    opacity: .7;
}

@media screen and (min-width: 995px){
    .user-content{
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-size: .8rem;
    margin-top: 2rem;
}

.headers{
    font-weight: 600;

}
    
}

.logout{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    
    
}
.logout > a{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.726);
    padding: 6px 15px;
    background-color: rgba(12, 155, 36, 0.822);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    
}
.logout > a:hover{
    background-color: rgba(12, 155, 36, 0.632);

    
}

.app-logo-wrapper{
    width: 150px;
    margin: auto;
}

.app-logo{
    width: 100%;
    border-radius: 50%;
}
.github{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    opacity: .9;
    font-size: .8rem;
}